.select-repo-form {
  display: flex;
  margin-bottom: 12px;
}

.select-repo-input {
  margin-left: 5px;
  margin-right: 5px;
}

.select-repo-input:first-child {
  margin-left: 0;
}

.select-repo-input:last-child {
  margin-right: 0;
}
